/* src/pages/dashboard/UserProfile.css */
.user-profile-container {
    max-width: 900px;
    margin: 30px auto;
    padding: 30px;
    background-color: #ffffff;
  }
  
  .user-profile-container h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .user-profile-card {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .user-profile-card p {
    font-size: 1.6rem;
    margin: 10px 0;
  }
  
  .user-profile-card button {
    background-color: #e96d25;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-profile-card button:hover {
    background-color: #feae68;
  }
  